<%- include header %>
<%- include navbar %>
<div class="container">
    <ul style="list-style:none">
        <% var lastYear = 0 %>
        <% posts.forEach(function (post, index) { %>
        <% if (lastYear != post.time.year) { %>
        <li><h3><%= post.time.year %></h3></li>
        <% lastYear=post.time.year } %>
        <li style="margin-left: 30px"><time><%= post.time.day %></time></li>
        <li style="font-size: 30px;margin-left: 100px"><a href="/u/<%= post.number %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></li>
        <% }) %>
    </ul>
</div>
<%- include footer %>