<%- include header %>
<%- include navbar %>
<div class="container">
    <div class="jumbotron">
        <% if (user && (user.number == post.number)) { %>
        <span><a class="btn btn-default btn-lg btn-radius" href="/edit/<%= post.number %>/<%= post.time.day %>/<%= post.title %>"> 编 辑 </a></span>
        <span><a class="btn btn-default btn-danger btn-xs btn-radius" href="/remove/<%= post.number %>/<%= post.time.day %>/<%= post.title %>">删 除</a></span>
        <hr>
        <% } %>
        
        <% var flag = 1 %>
        <% if (user && (user.number != post.number)) { %>
        <% if ((post.reprint_info.reprint_from != undefined) && (user.number == post.reprint_info.reprint_from.number)) { %>
        <% flag = 0 %>
        <% } %>
        <% if ((post.reprint_info.reprint_to != undefined)) { %>
        <% post.reprint_info.reprint_to.forEach(function (reprint_to, index) { %>
        <% if (user.number == reprint_to.number) { %>
        <% flag = 0 %>
        <% } %>
        <% }) %>
        <% } %>
        <% } else { %>
        <% flag = 0 %>
        <% } %>
        <% if (flag) { %>
        <span><a class="btn btn-default btn-success btn-xs btn-radius" href="/reprint/<%= post.number %>/<%= post.time.day %>/<%= post.title %>">举办下一届</a></span>
        <% } %>
        
        <p><h2><%= post.title %></h2></p>
        <p class="info">
            作者：<a href="/u/<%= post.number %>"><%= post.number %></a> |
            日期：<%= post.time.minute %> |
            标签：
            <% post.tags.forEach(function (tag, index) { %>
            <% if (tag) { %>
            <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
            <% } %>
            <% }) %>

            <% if (post.reprint_info.reprint_from) { %>
            |
            操作: <a href="/u/<%= post.reprint_info.reprint_from.number %>/<%= post.reprint_info.reprint_from.day %>/<%= post.reprint_info.reprint_from.title %>">查看上一届</a>
            <% } %>
        </p>
        <p><%- post.post %></p>
        <p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
        <p class="btn-radius" style="padding:15px;margin: 0;background-color: #ffd15b">
            Winner:<img src="<%= post.winner.head %>" class="img-circle" /> &nbsp;&nbsp;&nbsp;&nbsp;学号：<%= post.winner.number %> &nbsp;&nbsp;&nbsp;&nbsp;出价：<%- post.winner.luck %> &nbsp;&nbsp;&nbsp;&nbsp;于<%= post.winner.time %>
        </p>
    </div>
    <%- include comment %>
</div>
<%- include footer %>