<br />
<% post.comments.forEach(function (comment, index) { %>
    <div style="padding-left:2em">
        <p><img src="<%= comment.head %>"  class="img-circle" />&nbsp;&nbsp;<a href="<%= comment.website %>"><%= comment.number %></a>
        <span class="info"> 回复于 <%= comment.time %></span></p>
        <p class="bg-info" style="padding:15px;margin: 0px 30px 30px 30px"><%- comment.content %></p>
    </div>
<% }) %>

<div class="row">
    <form method="post">
        <div class="col-md-3 col-md-offset-1">
            <% if (user) { %>
            学号：<input type="text" name="number" value="<%= user.number %>" /><br />
            邮箱：<input type="text" name="email" value="<%= user.email %>" /><br />
            网址：<input type="text" name="website" value="/u/<%= user.number %>" /><br />
            <% } else { %>
            学号：<input type="text" name="number" /><br />
            邮箱：<input type="text" name="email" /><br />
            网址：<input type="text" name="website" value="http://" /><br />
            <% } %>
        </div>
        <div class="col-md-8">
            <textarea name="content" rows="5" cols="80"></textarea><br />
            <input class="btn btn-success btn-radius" type="submit" value="留 言" />
        </div>
    </form>
</div>