<br />
<% post.comments.forEach(function (comment, index) { %>
    <div style="padding-left:2em">
        <p><img src="<%= comment.head %>"  class="img-circle" />&nbsp;&nbsp;<a href="<%= comment.website %>"><%= comment.number %></a>
        <span class="info"> 回复于 <%= comment.time %></span></p>
        <p class="bg-info" style="padding:15px;margin: 0px 30px 30px 30px"><%- comment.content %></p>
    </div>
<% }) %>

<div class="row">
    <form method="post">
        <div class="col-md-3 col-md-offset-1">
            <% if (user) { %>
            学号：<input type="text" name="number" value="<%= user.number %>" required="true" /><br />
            邮箱：<input type="text" name="email" value="<%= user.email %>"  required="true" /><br />
            网址：<input type="text" name="website" value="/u/<%= user.number %>"  required="true" /><br />
            <% } else { %>
            学号：<input type="text" name="number"  required="true" /><br />
            邮箱：<input type="text" name="email"  required="true" /><br />
            网址：<input type="text" name="website" value="http://"  required="true" /><br />
            <% } %>
            <br>
            <input type="number" class="form-control input-lg" name="luck" autofocus="true" placeholder="键入一个数字" required="true" />
        </div>
        <div class="col-md-8">
            <textarea name="content" rows="5" cols="80"></textarea><br />
        </div>
        <input class="btn btn-primary btn-lg btn-radius col-md-offset-2 col-md-8" type="submit" value="出 价" />
    </form>
</div>