<%- include header %>
<%- include navbar %>
<div class="container">
    <form method="post" class="form-horizontal text-primary" role="form">
        <h4>主题：</h4>
        <input type="text" class="form-control" name="title" value="<%= post.title %>" disabled="disabled">
        <br>
        标签：<br />
        <input type="text" name="tag1" value="<%= post.tags[0] %>" disabled="disabled" />
        <input type="text" name="tag2" value="<%= post.tags[1] %>" disabled="disabled" />
        <input type="text" name="tag3" value="<%= post.tags[2] %>" disabled="disabled" /><br />
        <h4>详情：</h4>
        <textarea class="form-control" name="post" rows="12"><%= post.post %></textarea><br />
        <br>
        <%- include upload-button %>
        <button type="submit" class="btn btn-primary btn-lg btn-radius">
            &nbsp;
            <span class="glyphicon glyphicon-save" style="color: orange">&nbsp;保存修改&nbsp;</span>
        </button>
    </form>
    <%- include upload-modal %>
</div>
<%- include footer %>