<!DOCTYPE html>
<html lang="zh">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="/images/favicon.png">
    <title>Inital | <%= title %></title>

    <!-- Bootstrap core CSS -->
    <link href="/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link href="/stylesheets/index.css" rel="stylesheet">

    <!-- kindeditor -->
    <%- include kindeditor/kindeditor_inner_head.ejs %>
    <!-- ie support -->
    <%- include ie_support/ie_support_inner_head.ejs %>

</head>
<body>

    <% if (success) { %>
    <div class="alert alert-success alert-dismissable text-center">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><%= success %></strong>
    </div>
    <% } %>
    <% if (error) { %>
    <div class="alert alert-danger alert-dismissable text-center">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
        <strong><%= error %></strong>
    </div>
    <% } %>