<%- include header %>
<%- include navbar %>
<div class="container" style="margin-top: 50px">
    <form method="post" class="form-horizontal text-primary" role="form">
        <h4>主题：</h4>
        <input type="text" class="form-control" placeholder="活动主题" name="title" autofocus="true">
        <br>
        <h4>详情：</h4>
        <textarea class="form-control" rows="6" placeholder="泼墨于此 . . . ." name="post"></textarea>
        <br>
        <%- include upload-button %>
        <button type="submit" class="btn btn-primary btn-lg btn-radius">
            <span class="glyphicon glyphicon-send" style="color: orange">&nbsp;发布&nbsp;</span>
        </button>
    </form>
    <%- include upload-modal %>
</div>
<%- include footer %>