<%- include header %>
<%- include navbar %>
<div class="container">
    <h1>个人信息</h1>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="<%= user.head %>" class="avatar img-circle" alt="avatar">
                <h6>我的头像</h6>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <div class="alert alert-info alert-dismissable text-center">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                如需修改头像,请到"设置"页面,点击 <strong>修改</strong> 按钮至 <strong>Gravatar</strong> 主页修改您邮箱所绑定的图片.
            </div>
            <h3>个人信息</h3>

            <form class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">学号:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="number" name="number" value="<%= user.number %>" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Q Q:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="number" name="qq" value="<%= user.qq %>" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">宿舍:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="address" value="<%= user.address %>" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">生日:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="birthday" value="<%= user.birthday %>" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">邮箱:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="email" value="<% if(user.email=='qijie29896@gmail.com'){%> <% }else{%> user.email <%} %>" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">学校:</label>
                    <div class="col-lg-8">
                        <input class="form-control" disabled="disabled" type="text" name="school" value="<%= user.school %>" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">加入时间:</label>
                    <div class="col-md-8">
                        <input class="form-control" disabled="disabled" type="text" name="joined" value="<%= user.joined %>" disabled="disabled">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<%- include footer %>