<%- include header %>
<%- include navbar %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h1>账户设置</h1>
        </div>
        <div class="col-md-9" style="margin-top: 20px">
            <div class="alert alert-info alert-dismissable text-center" style="margin: 0">
                <a class="panel-close close" data-dismiss="alert">×</a>
                <i class="fa fa-coffee"></i>
                如需修改头像,请点击 <strong>修改</strong> 按钮至 <strong>Gravatar</strong> 主页修改您邮箱所绑定的图片.
            </div>
        </div>
    </div>
    <hr>
    <div class="row">
        <!-- left column -->
        <div class="col-md-3">
            <div class="text-center">
                <img src="<%= user.head %>" class="avatar img-circle" alt="avatar">
                <h6><a class="btn btn-default" target="_blank" href="http://gravatar.com/emails">修改头像</a></h6>
            </div>
        </div>

        <!-- edit form column -->
        <div class="col-md-9 personal-info">
            <h3>个人信息</h3>

            <form method="post" action='/setting' class="form-horizontal" role="form">
                <div class="form-group">
                    <label class="col-lg-3 control-label">学号:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="number" name="number" value="<%= user.number %>" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">Q Q:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="number" name="qq" value="<%= user.qq %>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">宿舍:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="address" value="<%= user.address %>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">生日:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="text" name="birthday" value="<%= user.birthday %>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">邮箱:</label>
                    <div class="col-lg-8">
                        <input class="form-control" type="email" name="email" value="<%= user.email %>">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-3 control-label">学校:</label>
                    <div class="col-lg-8">
                        <div class="ui-select">
                            <select id="school" class="form-control" type="text" name="school">
                                <option value="河北科技大学" selected="selected">河北科技大学</option>
                                <option value="河北师范大学">河北师范大学</option>
                                <option value="河北经贸大学">河北经贸大学</option>
                                <option value="河北铁道大学">河北铁道大学</option>
                                <option value="石家庄经济学院">石家庄经济学院</option>
                                <option value="河北医科大学">河北医科大学</option>
                                <option value="河北体育学院">河北体育学院</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">加入时间:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="joined" value="<%= user.joined %>" disabled="disabled">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">新密码:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="newpassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">重复新密码:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="renewpassword">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-3 control-label">旧密码:</label>
                    <div class="col-md-8">
                        <input class="form-control" type="password" name="password" required="true">
                    </div>
                </div>
                <div class="pull-right" style="margin-right: 70px">
                    <button type="submit" class="btn btn-primary btn-lg btn-radius">
                        &nbsp;
                        <span class="glyphicon glyphicon-save" style="color: orange">&nbsp;保存修改&nbsp;</span>
                    </button>
                    <button type="reset" class="btn btn-default btn-radius">
                        &nbsp;
                        <span class="glyphicon glyphicon-remove" style="color: red">&nbsp;取消&nbsp;</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</div>
<hr>
<%- include footer %>