<%- include header %>
<%- include navbar %>
<div class="container">
    <% posts.forEach(function (tag, index) { %>
        <a class="btn btn-default btn-lg tag" href="/tags/<%= tag %>"><%= tag %></a>
    <% }) %>
</div>
<%- include footer %>