<%- include header %>
<%- include navbar %>
    <div class="container">
        <% posts.forEach(function (post, index) { %>
        <div class="jumbotron">
            <p>
                <h2><a href="/u/<%= post.number %>/<%= post.time.day %>/<%= post.title %>"><%= post.title %></a></h2>
                <a href="/u/<%= post.number %>">
                    <img src="<%= post.head %>" alt="<%= post.number %>" class="img-circle head" />
                </a>
            </p>
            <p class="info">
                作者：<a href="/u/<%= post.number %>"><%= post.number %></a> |
                日期：<%= post.time.minute %> |
                标签：
                <% post.tags.forEach(function (tag, index) { %>
                <% if (tag) { %>
                <a class="tag" href="/tags/<%= tag %>"><%= tag %></a>
                <% } %>
                <% }) %>
            </p>
            <p><%- post.post %></p>
            <p class="info">阅读：<%= post.pv %> | 评论：<%= post.comments.length %></p>
        </div>
        <% }) %>
    </div>
<%- include paging %>
<%- include footer %>